.btn-link-auth {
  background-color: transparent;
  display: flex;
  flex-direction: column;
}
.p-link,
.link {
  text-decoration: none;
  color: rgb(10, 33, 10);
}

@media (min-width: 768px) {
  .auth-btns {
    font-size: 20px;
  }
  .session-btns {
    display: flex;
    flex-direction: column;
  }
  .logged-btns {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
  }
}
