.navBar {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.hamburguer {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 20px;
  justify-content: space-between;
  transition: transform 0.3s ease-in-out;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: #27ad6a;
  transition: background-color 0.3s ease-in-out;
}

.open .bar {
  background-color: #abbdb481;
}

.menu {
  position: relative;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  margin: 20px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(175, 185, 177);
  box-shadow: 0 0 40px grey;
  border-radius: 3px 20px;
}

@media (min-width: 1080px) {
  .menu-items {
    font-size: 23px;
  }
}
