.plants-searcher {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.plants-searcher button {
  width: 50px;
}
.users-searcher {
  display: flex;
  justify-content: center;
  align-items: center;
}
.users-searcher input {
  height: 45px;
  width: 250px;
  border-radius: 10px;
  border: solid 1px green;
  padding: 10px;
}
.users-searcher .react-icon {
  width: 28px;
  height: 28px;
}
