.single-plant-container {
  background-color: #78a38971;
  border-radius: 16px;
  padding: 0.5rem;
}
.single-plant-item {
  width: 100vw;
  height: fit-content;
}
.single-plant-item button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  float: right;
}
.item-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  margin-right: 10px;
}
.is-my-plant {
  display: flex;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .single-plant-item {
    width: 60vw;
  }
}
