.plants-list {
  height: 100%;
  width: 100vw;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  list-style: none;
}

@media (min-width: 768px) {
  .plants-list {
    margin: 1rem;
  }
}
