.update-data {
  height: 100vh;
  width: 100vw;
  padding: 1rem;
}
.update-user-form {
  border-radius: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.update-form {
  height: 80%;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.update-form input {
  height: fit-content;
  width: fit-content;
  text-align: justify;
  text-wrap: wrap;
  padding: 0;
  margin: 0;
}
.input-bio {
  overflow-y: hidden;
  width: 100%;
  background-color: transparent;
}
.input-bio:focus {
  height: 180px;
  width: 50vw;
  padding: 10px;
}
.pass-fieldset {
  display: flex;
  flex-direction: column;
}
