@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");

header {
  padding: 1rem;
  width: 100vw;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
}
.logo-container {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 1rem;
}
.logo {
  display: flex;
  text-align: center;
  font-family: "Parisienne", cursive;
  font-size: 50px;
  color: rgb(24, 148, 29);
}
@keyframes transitionColor {
  0% {
    color: rgb(24, 148, 29);
  }
  50% {
    color: rgb(221, 154, 28);
  }
  100% {
    color: rgb(24, 148, 29);
  }
}
.logo {
  animation: transitionColor 3s ease-in-out infinite;
}
.logo-link {
  text-decoration: none;
}

.menu-div {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
}
@media (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 180px;
  }
  .menu-div {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .logo-container {
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    margin-left: 10%;
  }
}
