.usersList {
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.usersList hr {
  width: 90%;
  margin: 30px;
}
.usersList li {
  list-style: none;
}
.single-user-of-list {
  display: flex;
}
