.user-plants-container {
  width: 100vw;
  height: fit-content;
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
}
.user-plants-list {
  width: 100vw;
  height: fit-content;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.user-post-item {
  margin-top: 1rem;
}
.user-post-image {
  width: 40vw;
  height: 40vh;
}
@media (min-width: 768px) {
  .user-plants-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
